@import '_fonts';
@import '_ui';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    a {
        text-decoration: none;
        color: $text;
    }
    li {
        list-style: none;
    }
    input {
        font-family: $main-font;
    }
    *::placeholder {
        font-family: $main-font;
        color: $text;
    }
}

html,
body {
    overflow-x: hidden;
    font-family: $main-font;
    background: $text;
    color: $text;
    font-size: 16px;
    &::-webkit-scrollbar {
        width: 0;
    }
}

._container {
    max-width: 1320px;
    margin: 0 auto;
}

@import '_menu';
@import '_header';
@import '_section-main';